#head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 300px;
    width: 90%;
    border-radius: 5%;
    border-color: hsl(0, 1%, 15%);
    background-color: hsl(0, 1%, 30%);
    color: white;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
